<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="post" action="/piglatinize">
      <p>Enter your phrase:</p>
      <input type="text" name="user_phrase">
      <br>
      <input type='submit' id="Submit">
    </form>
  
  </body>
</html>